body, html {
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    background-color: white;
    border-radius: 1.5rem;
    height: 32rem;
    position: fixed;
}

.card-art {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.illustration-mobile {
    max-width: 14rem;
    z-index: 1;
    position: relative;
}

.box {
    position: absolute;
    max-width: 5rem;
    top: -2rem;
    left: 4rem;
    z-index: 2;
}

.shadow-mobile {
    max-width: 14rem;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0;
}

.illustration-desktop,
.shadow-desktop {
    display: none;
}

.card-content {
    padding: 2rem 1.5rem 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-width: calc(100vw - 7rem);
}

h1 {
    text-align: center;
    padding: 0;
    margin: 0;
    color: hsl(238, 29%, 16%);
    font-weight: 700;
    font-size: 32px;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
    font-size: 14px;
    padding-left: 0;
    margin: 0;
    color: hsl(237, 12%, 33%)
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: none;
}

li:hover {
    color: hsl(14, 88%, 65%);
    transition: 0.2s;
}

li img {
    width: 10px;
    height: 7px;
}

hr.solid {
    border-top: 1px solid hsl(240, 5%, 91%);
    border-bottom: 0;
    width: 100%;
}

p {
    display: none;

}



